<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping enabled="true">
		<packageSource key="nuget.org">
			<package pattern="Microsoft.AspNetCore.Authentication.JwtBearer" />
			<package pattern="Microsoft.AspNetCore.*" />
			<package pattern="System.*" />
			<package pattern="Microsoft." />
			<package pattern="dotnet-ef" />
		</packageSource>
	</packageSourceMapping>
</configuration>
